body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1, h2 {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #03a9f4;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #0288d1;
}

.error-message {
  color: red;
  margin-top: 10px;
  display: block;
}

.hidden {
  display: none;
}

.main-container, .admin-login-container, .manage-users-container {
  width: 300px;
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #f1f1f1;
}

select {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #f1f1f1;
}
